<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Add New Product</title>
    </head>
    <body>
        <h3>New Inventory</h3>
        <form method="POST" action="/products/new/">
            <select id="products" name="product_id">
                {{#each products}}
                <option value="{{this.id}}">{{this.name}} ({{this.category}})</option>
                {{/each}}
            </select>
                <label for="stock">Stock:</label>
                <input type="number" id="stock" name="stock">
                
                <label for="price">Price ($): </label>
                <input type="number" name="price">

                <label for="net_weight">Net weight (grams): </label>
                <input type="number" name="net_weight">

                <input type="submit" value="Add Inventory">
        </form>
        {{#if new_inventory}}
        <p><strong>Added to database.</strong></p>
        {{/if}}

        {{#if error}}
        <p><strong>{{error}}</strong></p>
        {{/if}}
    </body>
</html>
